<template>
    <lightning-card  title="Two Way Binding">
        Hello { name }
        <br/>
        {person.name}
        <br/>
        {personName}
        <br/>
        Sum of {num1} and {num2} is {sum}
        <br/>
        <input type="text" onkeyup={handleValue}></input>

    </lightning-card>
    <br/>

    <lightning-card  title="Conditinal Rerendering">
        
        <!-- Success variant: Identifies a successful action -->
        <lightning-button 
            variant="success" 
            label="Success" 
            title="Successful action" 
            onclick={handleClick} 
            class="slds-m-left_x-small">
        </lightning-button>

        <div if:false={isVisible} class="slds-m-around_x-small">
            It is false 
        </div>

        <div if:true={isVisible} class="slds-m-around_x-small">
            It is true
        </div>

        <!-- 
            falsy values 
            x = 0, undefined, null, name = "", false etc  
        -->


    </lightning-card>
</template>