<!-- 

	Name : LWC Assignment 1
	Subject : In this assignment show account records.
	Date  :  31-3-2021

-->
<template>
	<div class="slds-page-header slds-page-header_record-home" style="border-radius:15px;" if:true={accountData}>
		<div class="slds-page-header__row">
			<div class="slds-page-header__col-title">
				<div class="slds-media">
					<div class="slds-media__figure">
						<span>
							<img style="height:70px; width:70px;" src={imageUrl} />
						</span>
					</div>
					<div class="slds-media__body">
						<div class="slds-page-header__name">
							<div class="slds-page-header__name-title">
								<h1>
									<span>Account</span>
									<span class="slds-page-header__title slds-truncate"
										title="Account Name">{accountData.accountObject.Name}</span>
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slds-page-header__col-actions">
				<div class="slds-page-header__controls">
					<div class="slds-page-header__control">
						<ul class="slds-button-group-list">
							<li>
								<button class="slds-button slds-button_neutral" onclick={handleEdit}>Edit</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="slds-m-around_small">
			<div class="slds-page-header__row slds-page-header__row_gutters ">
				<div class="slds-page-header__col-details">
					<ul class="slds-page-header__detail-row">
						<li class="slds-page-header__detail-block">
							<div class="slds-text-title slds-truncate" title="Type">Type</div>
							<div class="slds-truncate" title={accountData.Type}>{accountData.accountObject.Type}</div>
						</li>
						<li class="slds-page-header__detail-block">
							<div class="slds-text-title slds-truncate" title="Phone">Phone</div>
							<div class="slds-truncate" title={accountData.Phone}>{accountData.accountObject.Phone}</div>
						</li>
						<li class="slds-page-header__detail-block">
							<div class="slds-text-title slds-truncate" title="Website">Website</div>
							<div class="slds-truncate" title={accountData.Website}>{accountData.accountObject.Website}
							</div>
						</li>
						<li class="slds-page-header__detail-block">
							<div class="slds-text-title slds-truncate" title="Industry">Industry</div>
							<div class="slds-truncate" title={accountData.Industry}>{accountData.accountObject.Industry}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<section class="slds-modal slds-fade-in-open" if:true={isShowModel}>
		<div class="slds-modal__container">
			<header class="slds-modal__header">
				<h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Edit</h2>
			</header>
			<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
				<lightning-record-form record-id={recordId} object-api-name="Account" layout-type="Full" columns="2"
					mode="edit" onsubmit={handleSubmit} oncancel={handleEdit}>
				</lightning-record-form>
			</div>
		</div>
	</section>
	<div if:true={isShowModel} class="slds-backdrop slds-backdrop_open"></div>

	<!--
	<section if:true={isShowModel} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
		aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
		<div class="slds-modal__container">
			<header class="slds-modal__header">
				<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
					<svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
						<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
					</svg>
					<span class="slds-assistive-text">Close</span>
				</button>
				<h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Edit</h2>
				<lightning-record-form record-id={recordId} object-api-name='Account' fields={fields} columns="2"
					mode="edit" onsubmit={handleSubmit}>
				</lightning-record-form>
			</header>
			<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
			</div>
			<footer class="slds-modal__footer">
				<button class="slds-button slds-button_neutral">Cancel</button>
				<button class="slds-button slds-button_brand">Save</button>
			</footer>
		</div>
	</section>
	<div if:true={isShowModel} class="slds-backdrop slds-backdrop_open"></div>
	-->

</template>